{% extends 'concesionario/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a la Agencia de Carros</h1>
    <h2>Vehículos</h2>
    <ul>
        {% for vehiculo in vehiculos %}
            <li>{{ vehiculo.modelo }} - {{ vehiculo.color }} - {{ vehiculo.año }} - {{ vehiculo.precio }} - {{ vehiculo.marca.nombre }} - {{ vehiculo.disponibilidad|yesno:"Disponible,No disponible" }}</li>
        {% endfor %}
    </ul>

    <h2>Marcas</h2>
    <ul>
        {% for marca in marcas %}
            <li>{{ marca.nombre }} - {{ marca.pais_origen }}</li>
        {% endfor %}
    </ul>

    <h2>Clientes</h2>
    <ul>
        {% for cliente in clientes %}
            <li>{{ cliente.nombre }} - {{ cliente.contacto }} - {{ cliente.correo_electronico }}</li>
        {% endfor %}
    </ul>
{% endblock %}